.quest_wrap_search_bth a.choise_active {
  color: #CD9162; }
  .quest_wrap_search_bth a.choise_active span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #CD9162; }

.quest {
  background-image: url("../img/img_objects.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .quest_wrap {
    position: relative;
    width: 100%;
    height: 205px; }
    .quest_wrap_search {
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      width: 830px; }
      .quest_wrap_search_bth {
        display: flex;
        flex-wrap: wrap; }
        .quest_wrap_search_bth_sale, .quest_wrap_search_bth_rent, .quest_wrap_search_bth_build {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 32px;
          width: 90px;
          font-size: 12px;
          color: #000;
          background: #FDFDFD;
          text-transform: uppercase;
          padding: 5px;
          transition: 0.3s all ease; }
          .quest_wrap_search_bth_sale:hover, .quest_wrap_search_bth_rent:hover, .quest_wrap_search_bth_build:hover {
            color: #CD9162; }
        .quest_wrap_search_bth_build {
          width: 110px; }
      .quest_wrap_search_form {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        background: #FDFDFD;
        padding: 20px 30px 20px 30px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); }
        .quest_wrap_search_form_choise {
          display: none; }
        .quest_wrap_search_form_select {
          width: 215px; }
          .quest_wrap_search_form_select_title {
            margin-bottom: 8px; }
          .quest_wrap_search_form_select_val {
            width: 100%;
            height: 30px;
            border: 1px solid #E9E9E9;
            border-radius: 0;
            background: #fff;
            font-size: 12px;
            line-height: 16px;
            padding: 0 9px;
            color: rgba(0, 0, 0, 0.7);
            appearance: none;
            background-position: calc(100% - 10px);
            background-image: url("../img/more_black.svg");
            background-size: 8px 5px;
            background-repeat: no-repeat; }
          .quest_wrap_search_form_select_val::-ms-expand {
            display: none; }
        .quest_wrap_search_form_price {
          width: 215px; }
          .quest_wrap_search_form_price_title {
            margin-bottom: 8px; }
          .quest_wrap_search_form_price_block {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between; }
            .quest_wrap_search_form_price_block_inp {
              border: 1px solid #E9E9E9;
              width: 100px;
              height: 30px;
              padding: 0 9px;
              font-size: 12px;
              line-height: 16px;
              color: rgba(0, 0, 0, 0.7); }
        .quest_wrap_search_form_bth {
          width: 50px;
          height: 50px;
          background: #CD9162;
          line-height: 50px;
          text-align: center;
          transition: 0.3s all ease; }
        .quest_wrap_search_form_bth:hover {
          opacity: 0.8; }

.catalog {
  padding: 70px 0 65px 0; }
  .catalog_wrap_search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px; }
    .catalog_wrap_search_text_num {
      margin-top: 10px; }
  .catalog_wrap_filter {
    margin-top: 24px;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .catalog_wrap_filter span {
      display: block;
      margin-right: 25px; }
    .catalog_wrap_filter_link {
      display: block;
      font-size: 18px;
      line-height: 25px;
      margin-right: 0;
      margin-right: 25px;
      transition: 0.3s all ease; }
    .catalog_wrap_filter_link:last-child {
      margin-right: 0; }
    .catalog_wrap_filter_link:hover {
      color: #CD9162; }
    .catalog_wrap_filter_active {
      text-decoration: underline;
      color: #CD9162;
      font-family: "OpenSans-Bold"; }
    .catalog_wrap_filter_active:hover {
      color: #CD9162;
      text-decoration: underline; }
  .catalog_wrap_block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-top: 35px; }

@media screen and (max-width: 992px) {
  .quest_wrap {
    height: 300px; }
    .quest_wrap_search {
      width: 500px; }
      .quest_wrap_search_form_select {
        width: 100%;
        margin-bottom: 20px; }
      .quest_wrap_search_form_price {
        width: calc(100% - 70px); }
        .quest_wrap_search_form_price_block_inp {
          width: calc(50% - 10px); } }
@media screen and (max-width: 768px) {
  .quest_wrap {
    height: 300px; }
    .quest_wrap_search {
      width: 400px; }
      .quest_wrap_search_form_select {
        margin-bottom: 15px; }

  .catalog {
    padding: 70px 0 65px 0; }
    .catalog_wrap_search_text {
      width: 100%;
      order: 2; }
      .catalog_wrap_search_text_num {
        margin-top: 10px; }
    .catalog_wrap_filter {
      font-size: 16px;
      line-height: 22px; }
      .catalog_wrap_filter_link {
        font-size: 16px;
        line-height: 22px; }

  .catalog_wrap_search .search {
    width: 100%;
    margin-bottom: 10px;
    order: 1; } }
@media screen and (max-width: 480px) {
  .quest_wrap {
    height: 300px; }
    .quest_wrap_search {
      width: 100%; }
      .quest_wrap_search_form {
        padding: 20px; }

  .quest_wrap_search_bth_rent {
    margin-left: 0;
    width: 30%; }

  .quest_wrap_search_bth_sale {
    width: 30%; }

  .quest_wrap_search_bth_build {
    width: 40%; }

  .catalog {
    padding: 70px 0 50px 0; }
    .catalog_wrap_search_text {
      margin-top: 10px; }
    .catalog_wrap_filter {
      font-size: 14px;
      line-height: 19px; }
      .catalog_wrap_filter span {
        margin-bottom: 5px; }
      .catalog_wrap_filter_link {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 5px; } }

/*# sourceMappingURL=catalog.css.map */
